<div appChangeColor>
  <!-- directiva personalizada -->
  <p>Fecha: {{ date | date : "dd/MM/yyyy" }}</p>
  <!-- Pipe -->
  <p>La cantidad {{ shoppingCart.length }}</p>
  <p>El total es {{ total }}</p>
</div>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of productos"
    (addToCartClick)="onAddToShoppingCart($event)"
  ></app-product>
  <!-- primero estamos enviando el valor a [product] , este objeto esta en product.component.ts con lo que tenemos en la variable product de nuestro for que es la variable iteradora que nos esta recorriendo el array de productos de nuestro componente-->
</div>
