<button (click)="createNewProduct()">Crear</button
><!-- boton para mostrar y ocultar especificaciones -->

<div appChangeColor>
  <!-- directiva personalizada -->

  <p>Fecha: {{ date | date : "dd/MM/yyyy" }}</p>
  <!-- Pipe -->

  <p>La cantidad {{ shoppingCart.length }}</p>
  <p>El total es {{ total }}</p>
</div>
<div class="products--grid">
  <app-product
    [productF]="product"
    *ngFor="let product of products"
    (addToCartClick)="onAddToShoppingCart($event)"
    (addToShowDetail)="onShowDetail($event)"
  ></app-product>
</div>
<!-- primero estamos enviando el valor a [product] , este objeto esta en product.component.ts con lo que tenemos en la variable product de nuestro for que es la variable iteradora que nos esta recorriendo el array de productos de nuestro componente-->

<div class="contaniner product-detail" [class.active]="showProductDetail">
  <div class="row">
    <div class="col-sm-4 ">
    <!--? SWIPER  -->
    <swiper-container
      navigation="false"
      pagination="true"
      pagination-clickable="true"
    >
      <swiper-slide *ngFor="let img of imagenesMuestra"
        ><!-- toco usar imagenesMuetra por que la api tiene la dirección de las imagenes mal -->
        <img [src]="img" alt="imagen loca" />
      </swiper-slide>
    </swiper-container>
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.images[0] }}</h1>
    <!--? para ver si esta trayendo la ruta de la imagen -->
    <h1>{{ productChosen.title }}</h1>
    <p>{{ productChosen.description }}</p>
  </div>
  <div class="col-sm-8 ">

  </div>
  </div>
</div>

<!-- ?para usar Swiper -->
<!--<swiper-container
      navigation="true"
      pagination="true"
      pagination-clickable="true"
    >
      <swiper-slide>
        <img src="/assets/images/bike.jpg" alt="" />
      </swiper-slide>

      <swiper-slide>
        <img src="/assets/images/books.jpg" alt="" />
      </swiper-slide>

      <swiper-slide>
        <img src="/assets/images/house.jpg" alt="" />
      </swiper-slide>
    </swiper-container>-->
